body {
    background-color: #3c3c3c;
    color: white;
    letter-spacing: 2px;
    line-height: 1.4;
}

a {
    color: honeydew;
}

#apiKey {
    width: 93%;
    padding: 10px;
    border-radius: 15px;
    border: 2px lightgrey solid;
    background-color: #3c3c3c;
    color: lightgrey;
}

#instructions {
    margin-top: 0px;
    padding: 15px;
    border: 2px solid lightgrey;
    border-radius: 15px;
}

h1, h2 {
    margin-top: 0px;
}

#saveKey {
    background-image: linear-gradient(50deg, #647ef0,  #ce6570);
    color: white;
    border: 0;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px lightgrey solid;
}

.gradient {
    background-color: red;
    background-image: linear-gradient(50deg, #647ef0,  #ce6570);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


#userQuery {
    width: 93%;
    padding: 10px;
    border-radius: 15px;
    border: 1px grey solid;
    background-color: #3c3c3c;
    color: lightgrey;
}